<footer class="text-center bg-body-tertiary my-9">
    <div class="container pt-4">
      <section class="mb-4">

        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="white"
          ><i class="fa fa-twitter"></i
        ></a>

        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="white"
          ><i class="fa fa-instagram"></i
        ></a>

  </footer>