<div class="header pb-3">
    <div class="container">
      <nav>
          <ul>
            <li><p class="bold-styling" style=" font-size:25px;  align-self :center;">Inventory Management<p> </li>
            {% if user.is_authenticated %}
    
              <li>
                <a class="nav-link" href={% url 'items' %}>Items </a>
              </li>  
              <li>
                <a class="nav-link" href={% url 'log_out' %}>Log out</a>  
              </li>
  
          </ul>
    
          {% else %}
    
          <li>
            <a class="nav-link" style-"text-decoration:none; color:black;" href={% url 'register' %}> Register </a>
          </li>
          <li>
            <a class="nav-link"href={% url 'log_in' %}>Login</a>  
          </li>
  
          {% endif %}
        
        </div>
    </nav>
    </div>
  </div>